<div class="demo-comp">
      <h2>
        Demo Component
      </h2> 
      <ul>
        <li>
          myDecoratorBoolDefaultTrue : {{myDecoratorBoolDefaultTrue | json}}
        </li>
        <li>
          myDecoratorBoolDefaultFalse : {{myDecoratorBoolDefaultFalse | json}}
        </li>
        <li>
          myDefaultTrue : {{myDefaultTrue() | json}}
        </li>
        <li>
          myDefaultFalse : {{myDefaultFalse() | json}}
        </li>
        <!-- <li>
          myRequired : {{myRequired() | json}}
        </li> -->
        <li>
          myBoolDefaultTrue : {{myBoolDefaultTrue() | json}}
        </li>
        <li>
          myBoolDefaultFalse : {{myBoolDefaultFalse() | json}}
        </li>
        <!-- <li>
          myBoolRequired : {{myBoolRequired() | json}}
        </li> -->
      </ul>
    </div>