<main>
  
<h1>Custom lint</h1>

  <h2>myDecoratorDefault</h2>
  <!-- <demo-comp  myDecoratorDefaultTrue   />
  <demo-comp  myDecoratorDefaultFalse  /> -->
  <demo-comp  [myDecoratorDefaultTrue]="false"  />
  
  <h2>myDecoratorBoolDefault</h2>
  <demo-comp  [myDecoratorBoolDefaultTrue]="true" [myDecoratorBoolDefaultFalse]="true"  />
  <demo-comp  [myDecoratorBoolDefaultTrue]="false" [myDecoratorBoolDefaultFalse]="false"  />
  <demo-comp  myDecoratorBoolDefaultTrue myDecoratorBoolDefaultFalse  />
  <demo-comp  />

  <h2>myDefault</h2>
  <demo-comp  [myDefaultTrue]="false"  />
  <demo-comp  [myDefaultFalse]="true"  />
  <demo-comp />
  
  <h2>myBoolDefault</h2>
  <demo-comp  [myBoolDefaultFalse]="false"  />
  <demo-comp  [myBoolDefaultTrue]="true"  />
  <demo-comp  [myBoolDefaultTrue]="true" />
  <demo-comp  [myBoolDefaultTrue]="true" [myBoolDefaultFalse]="true"  />
  <demo-comp  [myBoolDefaultTrue]="false" [myBoolDefaultFalse]="false"  />
  <demo-comp  [myBoolDefaultFalse]="true"  />
  
  <h2>Computed (valid)</h2>
  <demo-comp  [myBoolDefaultTrue]="counter === 3" />
  <demo-comp  [myBoolDefaultTrue]="counter === 0" />
  <demo-comp  [myBoolDefaultTrue]="myBoolVar" />
  
  <h2>Valid</h2>
  <demo-comp  myBoolDefaultTrue />
  <demo-comp  myBoolDefaultTrue myBoolDefaultFalse />
  <demo-comp  myBoolDefaultFalse />
  

</main>