<main>
  
<h1>Custom lint</h1>

  <demo-comp myBoolRequired [myDecoratorBoolDefaultTrue]="true" [myDecoratorBoolDefaultFalse]="true"  />
  
  <demo-comp myBoolRequired myDecoratorBoolDefaultTrue myDecoratorBoolDefaultFalse  />
  
  <demo-comp myBoolRequired [myDecoratorBoolDefaultTrue]="false" [myDecoratorBoolDefaultFalse]="false"  />

  <demo-comp myBoolRequired [myBoolDefaultTrue]="true" [myBoolDefaultFalse]="true"  />

  <demo-comp myBoolRequired [myBoolDefaultTrue]="false" [myBoolDefaultFalse]="false"  />
  
  <demo-comp myBoolRequired [myBoolDefaultTrue]="true"  />
  
  <demo-comp myBoolRequired [myBoolDefaultTrue]="true" ></demo-comp>

  <demo-comp myBoolRequired [myBoolDefaultTrue]="counter === 3" />

  <demo-comp myBoolRequired [myBoolDefaultTrue]="counter === 0" />

  <demo-comp myBoolRequired [myBoolDefaultTrue]="myBoolVar" />

  <demo-comp myBoolRequired myBoolDefaultTrue />

  <demo-comp myBoolRequired myBoolDefaultTrue myBoolDefaultFalse />

  <demo-comp myBoolRequired myBoolDefaultTrue ></demo-comp>
  

</main>